.contact-me {
    font-family: ProximaBold;
    position: relative;
    height: 100%;
    @media (max-width: 700px) {
        grid-template: auto auto 15px auto / 1fr;
        padding-top: 10px;
    }
    &__title {
        grid-column: 1;
        grid-row: 1;
        font-size: 18px;
        font-weight: 700;
        line-height: 26.5px;
        letter-spacing: 1.8px;
        text-align: center;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 700px) {
            font-size: 14px;
            letter-spacing: 1.4px;
        }
        @media (max-width: 440px) {
            text-align: left;
        }
    }
    &__info {
        grid-column: 1;
        grid-row: 2;
        color: var(--text, #FCFFFF);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 49.5px; 
        max-width: 540px;
        margin: 0 auto 36px;
        @media (max-width: 700px) {
            font-size: 26px;
            line-height: 34px;
            max-width: 410px;
        }
        @media (max-width: 440px) {
            text-align: left;
            margin: 0 0 14px;
            max-width: 306px;
        }
    }
    &__form {
        grid-column: 1;
        grid-row: 4;
        font-family: ProximaRegular;
        font-size: 14px;
        max-width: 410px;
        margin: 0 auto;
        .input-block{
            height: 92px;
            max-width: 410px;
            margin-bottom: 15px;
        }
        .input-block_textarea{
            height: 210px;
        }
        @media (max-width: 440px) {
        }
    }
    &__question {
        resize: none;
        padding-top: 21px;

        &::placeholder{
            opacity: 0.6;
        }
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
        }
    }
    &__btn {
        grid-column: 2;
        grid-row: 13;
        height: 64px;
        margin-bottom: 20px;
        @media (max-width: 440px) {
            margin-bottom: 16px;
        }
    }
    &__i-agree {
        margin-left: 1px;
        grid-column: 2;
        grid-row: 15;
        color: $secondary;
        font-family: ProximaRegular;
        display: grid;
        align-items: center;
        grid-template: 1fr / 20px 10px 72px 8px 86px 8px 24px 7px 80px;
        @media (max-width: 350px) {
            grid-template: auto 5px auto / 20px 10px 24px 10px 38px 10px 1fr;
        }
        span{
            &:nth-child(2){
                grid-column: 3;
                grid-row: 1;
                @media (max-width: 350px) {
                    grid-column: 3/6;
                    grid-row: 1;
                }
            }
            &:nth-child(4){
                grid-column: 7;
                grid-row: 1;
                @media (max-width: 350px) {
                    grid-column: 3;
                    grid-row: 3;
                }
            }
        }
    }
    &__i-agree-checkbox{
        grid-column: 1;
        grid-row: 1;
    }
    &__i-agree-link {
        color: $blue;
        text-decoration: underline;
        &:nth-child(3){
            grid-column: 5;
            grid-row: 1;
            @media (max-width: 350px) {
                grid-column: 7/8;
                grid-row: 1;
            }
        }
        &:nth-child(5){
            grid-column: 9;
            grid-row: 1;
            @media (max-width: 350px) {
                grid-column: 5/8;
                grid-row: 3;
            }
        }
    }
    &__bg-imgage {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    &__bg-picture {
        &_one {
            position: absolute;
            top: 203px;
            @media (min-width:700px) {
                left: -314px;
            }
            @media (max-width:700px) {
                right: 33px;
                top: -9px;
                transform: rotate(-75deg);
                img{
                    width: 42px;
                    height: 42px;
                }
            }
        }
        &_two {
            position: absolute;
            top: 118px;
            @media (min-width:700px) {
                left: -6px;
            }
            @media (max-width:700px) {
                right: -47px;
                top: -19px;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
        &_three {
            position: absolute;
            left: 65px;
            bottom: 14px;
            @media (max-width:700px) {
                display: none;
            }
        }
        &_four {
            position: absolute;
            right: -401px;
            top: 28px;
            @media (max-width:700px) {
                display: none;
            }
        }
    }
}
