$to-burger-menu: 1110px;
$focus-color-menu: #86a8ffa2;
$hover-color-menu: #86a8ff;
$active-color-menu: #3e4e77;

.header {
  position: sticky;
  top: 0;
  .icon {
    max-width: 145px;
    max-height: 30px;
  }
  height: 64px;
  z-index: 5;
  background-color: #1d1f21;
  &__container {
    display: flex;
    align-items: center;
    background-color: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &__logo {
    padding: 8px;
    &:focus {
      stroke: $focus-color-menu;
    }
  }
  &__menu {
    @media (min-width: ($to-burger-menu + 1px)) {
      display: flex !important;
    }
  }
  &__language-dropdown {
    margin-left: auto;
    width: 74px;
    height: 35px;
    background: $darkGray;
    border-radius: 7px;
    color: $secondary;
    @media (max-width: 1110px) {
      margin-left: 8px;
    }
    @media (max-width: 700px) {
      margin-left: auto;
    }
    @media (max-width: 400px) {
      margin-right: auto;
    }
  }
  &__authorization-button {
    margin-left: 8px;
    @media (max-width: 700px) {
      display: none;
    }
  }
  &__premium-access-button {
    background: linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    margin-left: 8px;
    width: 147px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus {
      border: 1px solid $focus-color-menu;
    }
    img {
      display: none;
    }
    &::before {
      content: 'Premium access';
    }
    @media (max-width: 700px) {
      background: linear-gradient(
        95deg,
        rgba(104, 201, 255, 0.1) 9.27%,
        rgba(209, 181, 255, 0.1) 84.06%
      );
      width: auto;
      height: auto;
      padding: 7px;
      border-radius: 9px;
      &::before {
        content: none;
      }
      img {
        display: block;
      }
    }
    @media (max-width: 400px) {
      margin-left: auto;
    }
  }
  &__burger-menu-button {
    display: none;
    background: none;
    @media (max-width: 1110px) {
      display: block;
      margin-left: auto;
    }
    @media (max-width: 700px) {
      order: 1;
      justify-self: end;
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

.menu {
  flex: 1;
  margin-left: 14px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  @media (max-width: $to-burger-menu) {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    margin-top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #1d1f21;
    flex-direction: column;
    @media (max-width: 400px) {
      align-items: center;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: $to-burger-menu) {
      padding-top: 100px;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-bottom: 30px;
      @media (max-height: 600px) {
        padding-top: 50px;
      }
      @media (max-height: 300px) {
        padding-top: 30px;
      }
    }
    @media (max-width: 400px) {
      padding-top: 30px;
      align-items: center;
    }
  }

  &__footer {
    display: none;
    @media (max-width: 1110px) {
      display: flex;
      align-items: start;
      flex-direction: column-reverse;
      justify-content: center;
      width: 100%;
    }
    @media (max-width: 400px) {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: center;
      width: 100%;
    }
  }
  &__icon {
    max-width: 14px;
    max-height: 14px;
    margin-right: 8px;
    fill: $secondary;
    transition: fill 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  &__item {
    &:hover {
      .menu__link {
        color: $hover-color-menu;
      }
      .menu__icon {
        fill: $hover-color-menu;
      }
    }

    &:focus-within {
      .menu__link {
        color: $focus-color-menu;
      }
      .menu__icon {
        fill: $focus-color-menu;
      }
    }

    &:active {
      .menu__link {
        color: $active-color-menu;
      }
      .menu__icon {
        fill: $active-color-menu;
      }
    }
    &:not(:first-child) {
      margin-left: 2px;
      @media (max-width: $to-burger-menu) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
  &__link {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: $secondary;
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    @media (max-width: $to-burger-menu) {
      font-size: 18px;
    }
  }
  &__authorization-button {
    display: none;
    @media (max-width: 700px) {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &_open {
    .burger-menu-button__icon {
      &::before {
        height: 1px;
      }
    }
  }
  @media (max-width: $to-burger-menu) {
    z-index: -1;
    @media (min-width: 401px) {
      &:not(.menu_open) {
        left: -100vw;
        transition: opacity 0.3s, left 0.3s;
        display: none;
      }
      &_open {
        left: 0;
        transition: opacity 0.3s, left 0.3s;
      }
    }
  }
  @media (max-width: 400px) {
    top: -100vh;
    transition: opacity 0.3s, top 0.3s;
    display: none;

    &_open {
      top: 0;
      transition: opacity 0.3s, top 0.3s;
    }
  }
}

.dropdown {
  position: relative;
  &__icon {
    transition: transform 0.3s ease-in-out;
    max-width: 18px;
    max-height: 18px;
  }
  &__trigger {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
  }
  &__content {
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 7px;
    overflow: auto;
    background-color: #fff;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .dropdown__item {
      padding: 5px 12px;
      text-align: start;
      width: 100%;
      &:not(:first-child) {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
  &__item {
    user-select: none;
  }
  &_open {
    .dropdown__content {
      display: flex;
    }
    .dropdown__icon {
      transform: rotate(180deg);
    }
  }
  &:focus {
    outline: 1px solid $focus-color-menu;
  }
}

.burger-menu-button {
  width: 24px;
  height: 24px;
  padding: 6px 5px;
  &__icon {
    position: relative;
    width: 14px;
    height: 14px;
    &::before,
    &::after,
    span {
      transition: 0.3s ease-in-out;
      position: absolute;
      right: 0;
      border-radius: 2px;
      background: #fff;
    }
  }
  &:not(.burger-menu-button_open) {
    .burger-menu-button__icon {
      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 0;
        width: 7px;
        height: 2px;
      }

      span {
        top: 6px;
        width: 14px;
        height: 2px;
      }

      &::after {
        top: calc(100% - 2px);
        width: 11px;
        height: 2px;
      }
    }
  }
  &_open {
    .burger-menu-button__icon {
      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 50%;
        right: 0;
        width: 100%;
        height: 1px;
        transform: rotate(-45deg);
      }

      span {
        opacity: 0;
      }

      &::after {
        top: 50%;
        right: 0;
        width: 100%;
        height: 1px;
        transform: rotate(45deg);
      }
    }
  }
}

.authorization-button {
  padding: 14px 22px;
  height: 48px;
  width: 130px;
  border-radius: 12px;
  background: linear-gradient(
    95deg,
    rgba(104, 201, 255, 0.1) 9.27%,
    rgba(209, 181, 255, 0.1) 84.06%
  );
  &__gradient {
    font-family: Proxima;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    background: #121fcf;
    background: linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:focus {
    outline: 1px solid $focus-color-menu;
  }
}

.premium-access-button {
  font-family: Proxima;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-radius: 12px;
}
