.name {
   display: flex;
   justify-content: center;
   @media (max-width: 1024px) {
      padding: 37px 0;
   }
   @media (max-width: 576px) {
      justify-content: flex-start;
   }

   &__bg-text {
      font-family: Proxima Nova;
      font-size: clamp(50px, 8vw, 80px);
      font-weight: 700;
      line-height: normal;
      color: transparent;
      opacity: 0.2;
      -webkit-text-stroke: 1px $whileBlue;

      &_make {
         position: absolute;
         top: 47px;
         left: -38px;
         z-index: -1;
         @media (max-width: 1024px) {
            top: 166px;
            left: -17px;
         }
         &_pricing {
            top: 94px;
            @media (max-width: 1024px) {
               display: none;
            }
         }
      }

      &_war {
         position: absolute;
         top: 47px;
         right: -27px;
         z-index: -1;

         @media (max-width: 1024px) {
            top: -3px;
            right: 1px;
         }

         &_pricing {
            top: 94px;
            @media (max-width: 1024px) {
               display: none;
            }
         }
      }
   }
   &__star {
      position: absolute;
      left: clamp(280px, 27vw, 390px);
      @media (max-width: 1024px) {
         top: -16px;
         left: 20px;
      }
      &_pricing {
         top: 47px;
         @media (max-width: 576px) {
            top:5px;
            left: auto;
            right: 0px;
         }
      }
   }
   &__title {
      font-family: Proxima Nova;
      font-size: clamp(26px, 5vw, 36px);
      font-style: normal;
      font-weight: 700;
      line-height: 49.5px;
      color: $whileBlue;
      text-align: center;
      margin: 14px 0 16px;
      @media (max-width: 576px) {
         text-align: left;
         margin: 22px 0 2px;
         line-height: 34px;
      }

      &_pricing {
         font-size: clamp(36px, 5vw, 64px);
         max-width: 569px;
         width: 100%;
         line-height: 65px;
         @media (max-width: 576px) {
            line-height: 40px;
            max-width: 270px;
         }
      }
   }
   &__text {
      font-family: Proxima Nova;
      font-size: clamp(15px, 5vw, 16px);
      font-weight: 400;
      line-height: 28px;
      color: $whileBlue;
      text-align: center;
      max-width: 415px;
      width: 100%;
      margin: 0 auto;
      @media (max-width: 576px) {
         text-align: left;
         line-height: 24px;
         max-width: 320px;
      }
   }

   &__circle {
      position: absolute;
      top: 145px;
      right: 352px;

      @media (max-width: 1024px) {
         top: 165px;
         right: 80px;
      }
      &_pricing {
         top: 192px;
         @media (max-width: 576px) {
            top: 192px;
            right: 20px;
         }
      }
   }
}
