.one-card{
    overflow: hidden;
    font-family: Proxima;
    border-radius: 12px;
    aspect-ratio:  1 / 1.1853; 
    width: 100%;
    position: relative;
    z-index: 3;
    color: $whiteText;
    @media (max-width: 700px) {   
        aspect-ratio:  1 / 1.19424; 
    }
    &__bg{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__unlock-bg{

    }
    &__unlock {
        height: 100%;
        border-radius: 12px;
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        &::after{
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            opacity: 0.17;
            background: lightgray 50% / cover no-repeat;
            filter: blur(11px);
        }
    }
    &__unlock-main{
        position: relative;
        z-index: 1;
    }
    &__unlock-title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.8px;
        text-align: center;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 6px 0 5px;
        @media (max-width: 700px) {   
            font-size: 16px;
            margin: 6px 0 15px;
        }
    }
    &__unlock-info {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        margin-bottom: 19px;
        font-size: 26px;
        font-weight: 700;
        @media (max-width: 700px){   
            font-size: 20px;
            gap: 10px;
            svg{
                width: 30px;
                height: 30px;
            }
        }
    }
    &__unlock-btn{
        height: 64px;
        max-width: 134px;
        margin: 0 auto;
        @media (max-width: 700px){    
            height: 48px;
        }
    }
    &__open {
        display: grid;
        border-radius: 12px;
        height: 100%;
        align-items: center;
        position: relative;
        z-index: -2;
        opacity: 0;
        transition: opacity 400ms ease 0s;
        &::after{
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            background: $gradientCard;
        }
    }
    &__open-main {
        position: relative;
        z-index: 1;
    }
    &__open-title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        margin: 0 auto 15px;
        @media (max-width: 700px){   
            font-size: 22px;
            margin: 0 auto 5px;
        }
        @media (max-width: 350px) {
            font-size: 18px;
            margin: 0 auto 3px;
        }
    }
    &__open-info {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        max-width: 257px;
        margin: 0 auto 9px;
        @media (max-width: 700px){   
            font-size: 10px;
            line-height: 14px;
            margin: 0 auto 3px;
        }
    }
    &__open-price {
        font-size: 26px;
        font-weight: 700;
        line-height: 33.5px;
        text-align: center;
        margin-bottom: 26px;
        @media (max-width: 700px){    
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__btn-row{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 12px;
        height: 64px;
        @media (max-width: 700px){    
            height: 48px;
        }
    }
    &__open-btn{
        width: 134px;
    }
    &__btn{
        pointer-events: none;
        &_active{
            pointer-events: auto;
        }
    }
    &_big{
        aspect-ratio:  1 / 0.5; 
        height: 100%;
        grid-column: span 2;
            @media (max-width: 700px){   
                aspect-ratio:  1 / 0.577; 
            }
        }
        @media (max-width: 700px){     
            grid-column: 1;
        }
    &_unlock.active{
        .one-card{
            &__unlock {
                display: flex;
            }
        }
    }
    &_open.active{
        .one-card{
            &__open {
                z-index: 1;
                opacity: 1;
            }
        }
    }
}

