.radio-button {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Proxima';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.71429;
  color: $white;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background: none;
    border-radius: 50%;
    border: 1px solid #86a8ff;
  }

  &:hover input ~ .checkmark {
    background-color: #cccccc21;
  }

  input:checked ~ .checkmark {
    background: linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: none;
    border: 4px solid $darkGray;
  }
}
