@import './../components/ui/burger-button.scss';

.profile-header {
  top: 0;
  position: sticky;
  background: $jetBlack;
  max-height: 100px;
  z-index: 5;
  &__container {
    max-width: none;
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-left: 10px;
    padding: 8px;
    @media (max-width: 960px) {
      margin-left: 0;
    }
  }
  &__log-out {
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      margin-left: 8px;
      padding: 3px;
    }
    margin-right: 12px;
  }
  &__burger-menu-button {
    display: none;
    @media (max-width: 1150px) {
      display: block;
    }
  }
}
