@import './../style.scss';
@import './profile-header.scss';
@import './profile-sidebar.scss';

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaSemibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/ManropeRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/ManropeBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: $jetBlack;
}

$tablet: 960px;
$mobile: 600px;

.table-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: $white;

  padding-left: 14px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  @media (max-width: 960px) {
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  &__title {
    display: none;
    color: $white;
    font-family: 'Proxima';
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    @media (max-width: $tablet) {
      display: flex;
      padding-bottom: 6px;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 0px;
  &__title {
    text-align: left;
    color: $white;
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.07143;
  }
  &__scroll-container {
    height: auto;
    overflow: auto;
  }
  &-header {
    padding-left: 14px;
    padding-right: 34px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
    tr {
      td {
        &:first-child {
          padding-left: 10px;
        }
        padding-right: 10px;
      }
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__body {
    padding-right: 22px;
    border-spacing: 0px 8px;
    border-collapse: separate;
    width: 100%;
    tbody {
      @media (max-width: 960px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    tr {
      background: $jetBlack;
      td {
        &:first-child {
          padding-left: 24px;
          border-radius: 14px 0px 0px 14px;
          @media (max-width: $tablet) {
            padding-left: 0;
            border-radius: 0;
          }
        }
        &:last-child {
          border-radius: 0px 14px 14px 0px;
          @media (max-width: $tablet) {
            border-radius: 0;
          }
        }
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 10px;
        @media (max-width: $tablet) {
          padding-top: 0;
          padding-bottom: 0;
          padding-right: 0;
        }
      }
      @media (max-width: $tablet) {
        display: grid;
        background: $gunmetalGrey;
        border-radius: 14px;
        padding: 19px 19px 18px 18px;
      }
    }
    @media (max-width: $tablet) {
      padding-right: 15px;
    }
  }
}

.page {
  @media (max-width: 960px) {
    height: 100%;
    justify-content: space-between;
  }
}

.page__container {
  padding-right: 0;
  padding-bottom: 0;
  height: 100%;
}

.page__main {
  height: 100%;
  padding-top: 14px;
  flex-grow: 1;
  background-color: $darkGray;
  border-radius: 32px 0px 0px 0px;
  display: flex;
  @media (min-width: (1150px + 0.1px)) {
    margin-left: 15px;
    overflow: hidden;
  }
  @media (max-width: $tablet) {
    background-color: $jetBlack;
    background: none;
    padding-top: 17px;
  }
  @media (max-width: $mobile) {
    padding-left: 15px;
  }
}

.orders-section {
  &__table-block {
    padding-bottom: 10px;
    padding-right: 20px;
    height: 100%;
    overflow: auto;
    @media (max-width: $tablet) {
      padding-right: 15px;
    }
  }
  &__table-orders {
    width: 100%;
  }
  &__title {
    display: none;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: max-content;
    background-color: $jetBlack;
    @media (max-width: $tablet) {
      display: flex;
      color: $white;
      font-family: 'Proxima';
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }
  }
}

.log-out {
  background: none;
  display: flex;
  align-items: center;
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35714;
  color: $lightBlueGrey;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.wrapper-2 {
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  &__container {
    flex-grow: 1;
    display: flex;
    max-width: none;
    justify-content: space-between;
    width: 100%;
  }
}

.online-status {
  display: block;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  &_online {
    background-color: $emeraldGreen;
  }
  &_offline {
    background-color: $lightBlueGrey;
  }
}

.burger-menu-button {
  padding: 10px 9px;
  width: 32px;
  height: 32px;
  background-color: linear-gradient(
    95deg,
    rgba(104, 201, 255, 0.1) 9.27%,
    rgba(209, 181, 255, 0.1) 84.06%
  );
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: linear-gradient(
    95deg,
    rgba(104, 201, 255, 0.1) 9.27%,
    rgba(209, 181, 255, 0.1) 84.06%
  );

  &__icon {
    min-width: 14px;
    min-height: 12px;
    &::before,
    &::after,
    span {
      background: linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    }
  }
  @media (max-width: 1150px) {
    display: flex;
  }
}

.profile-header__log-out {
  @media (max-width: 1150px) {
    display: none;
  }
}
