.profile-sidebar {
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 33px 13px;
  max-width: 215px;
  overflow-y: auto;

  z-index: 2;
  @media (min-width: 1151px) {
    display: flex !important;
  }
  @media (max-width: 1150px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    background-color: $jetBlack;
    transition: transform ease 0.3s;
    display: none;
  }
  @media (max-width: 600px) {
    max-width: none;
    justify-content: flex-start;
    transform: translate(0, -100%);
    position: fixed;
    height: max-content;
  }
  &__menu {
    padding: 2px 9px;
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      .icon {
        color: $deepTeal;
        font-size: 20px;
      }
      &-text {
        margin-left: 11px;
        color: $lightBlueGrey;
        font-family: 'Proxima';
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3125;
        &_active {
          color: $white;
        }
      }

      &_active {
        .profile-sidebar__menu-item-text {
          color: $white;
        }
        .icon {
          @include text-gradient($gradient);
        }
      }
      &:not(.profile-sidebar__menu-item_active) {
        &:focus {
          .profile-sidebar__menu-item-text {
            color: $focusColor;
          }
          .icon {
            color: $focusColor;
          }
        }
        &:hover {
          .profile-sidebar__menu-item-text {
            color: $hoverColor;
          }
          .icon {
            color: $hoverColor;
          }
        }
        &:active {
          .profile-sidebar__menu-item-text {
            color: $activeColor;
          }
          .icon {
            color: $activeColor;
          }
        }
      }
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__log-out {
    margin-left: 2px;
    margin-top: 12px;
    color: $lightBlueGrey;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35714;
    flex-direction: row-reverse;
    justify-content: start;
    img {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
    @media (max-width: 1150px) {
      padding-left: 8px;
      margin-top: 24px;
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: $steelGray;
    margin-top: 16px;
  }
  &__all-rights {
    margin-top: 12px;
    color: $lightBlueGrey;
    font-family: 'Proxima';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66667;
  }
  &.menu_open {
    @media (max-width: 1150px) {
      transform: translate(0%);
      left: 0;
      top: 0;
    }
    @media (max-width: 600px) {
      top: 64px;
      height: max-content;
    }
  }
}

.silider-background {
  display: none;
  @media (max-width: 1150px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: transform ease 3ms;
    background-color: rgba($color: #2c2f33, $alpha: 0.33);
    backdrop-filter: blur(10px);
    &:not(.silider-background_open) {
      display: none;
    }
    &.silider-background_open {
      display: block;
      z-index: 1;
      left: 0;
    }
  }
}
