.banner-section {
  overflow: hidden;
  padding-bottom: 15px;
  &__container {
  }
  &__banner-block {
    overflow: hidden;
    position: relative;
    background: linear-gradient(
      95deg,
      #6880ff 9.27%,
      #3ca7f4 50.77%,
      #8c45ff 84.06%
    );
    border-radius: 24px;
    padding: 84px 33px 84px 110px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 960px) {
      flex-direction: column;
      padding: 84px 110px;
      background: linear-gradient(
        141deg,
        #6880ff 3.3%,
        #3ca7f4 52.35%,
        #8c45ff 92.15%
      );
    }
    @media (max-width: 600px) {
      padding: 32px 26px;
    }
  }
  &__img-block {
    user-select: none;
    z-index: 1;
    width: 40%;
    align-self: center;
    padding-top: 15px;
    @media (max-width: 960px) {
      align-self: center;
    }
    @media (max-width: 770px) {
      width: 60%;
      padding-bottom: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @media (min-width: 961px) {
        transform: rotate(8.04deg);
        max-width: 331.981px;
        max-height: 239.824px;
      }
    }
  }
  &__text-block {
    max-width: 440px;
    @media (max-width: 960px) {
      text-align: center;
      align-self: center;
    }
    @media (max-width: 500px) {
      text-align: left;
      align-self: start;
    }
  }
  &__title {
    margin-top: 12px;
    color: $white;
    font-family: 'Proxima';
    font-size: 36px;
    font-weight: 700;
    line-height: 1.375;
  }
  &__description {
    margin-top: 12px;
    color: $white;
    font-family: 'Proxima';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
  }
  &__button {
    margin-top: 12px;
    font-family: 'Proxima';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.47222;
    padding: 18px 37px;
    max-width: 167px;
    @media (max-width: 960px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 500px) {
      margin-left: 0;
    }
  }
  &__icon {
    width: 45px;
    height: 45px;
    @media (max-width: 960px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 500px) {
      margin-left: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .background-circle {
    position: absolute;
    top: -20px;
    right: -14.5%;
    width: 512px;
    height: 512px;
    @media (max-width: 1100px) {
      right: -25%;
    }
    @media (max-width: 960px) {
      width: auto;
      height: 100%;
      right: 50%;
      top: 100%;
      transform: translate(50%, -25%);
    }
  }
  .background-diamond-2 {
    position: absolute;

    @media (min-width: 961px) {
      top: -35px;
      right: 22%;
    }
    @media (max-width: 960px) {
      transform: scaleX(-1);
      left: -60px;
      bottom: -40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .background-diamond-3 {
    position: absolute;
    bottom: -19%;
    right: -30px;
    img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 960px) {
      right: -90px;
    }
  }
}
