@font-face {
	font-family: ManropeBold;
	font-display: swap;
	src: url("../fonts/ManropeBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ManropeRegular;
	font-display: swap;
	src: url("../fonts/ManropeRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaBold;
	font-display: swap;
	src: url("../fonts/ProximaBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaExtraBold;
	font-display: swap;
	src: url("../fonts/ProximaExtraBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaLight;
	font-display: swap;
	src: url("../fonts/ProximaLight.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaRegular;
	font-display: swap;
	src: url("../fonts/ProximaRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaSemibold;
	font-display: swap;
	src: url("../fonts/ProximaSemibold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
