// Firefox
* {
  scrollbar-width: rem(8);
  scrollbar-color: var(--primary-color) #d6d6d6;

  // Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: rem(8);
    background-color: none;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 rem(6) rgba($darkGray, 20%);
    border-radius: rem(4);
    background: $darkGray;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(4);
    border: 0 none #fff;
    background-color: rgba($color: red, $alpha: 0.7);

    &:hover {
      background-color: var(--primary-hover-color);
    }
  }
}
