@import './index.scss';
@import './components/one-item.scss';
@import './components/custom-by.scss';

.page{
    padding-top: 62px;
    height: 100%;
    @media (max-width: 700px) {
        padding-top: 26px;
    }
}
.arts {
    position: relative;
    font-family: Proxima;
    width: 100%;
    margin-bottom: 76px;
    @media (max-width: 700px) {
        margin-bottom: 38px;
    }
    &__title {
        color: $whiteText;
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 65px; 
        margin-bottom: 15px;
        @media (max-width: 700px) {
            font-size: 36px;
            line-height: 40px; 
            margin-bottom: 16px;
        }
    }
    &__info {
        color: $whiteText;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        max-width: 415px;
        margin: 0 auto 49px;
        @media (max-width: 700px) {
            font-size: 15px;
            line-height: 24px;
            margin: 0 auto 48px;
        }
    }
    &__cards{
        max-width: 1111px;
        margin: 0 auto;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(3,1fr) ;
        justify-content: center;
        @media (max-width: 1170px) {
            grid-template-columns: repeat(2 ,1fr) ;
        }
        @media (max-width: 761px) {        
            grid-template-columns: 1fr ;
            padding: 0 10px;
            gap: 19px;
        }
        @media (max-width: 400px) {
            padding: 0;
        }
    }
    &::after, &::before{
        position: absolute;
        font-family: Proxima;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: transparent;
        -webkit-text-stroke: 0.5px rgba(252, 255, 255, 0.2);
        top: 23px;
        @media (max-width: 700px) {
            display: none;
        }
    }
    &::before{
        content: 'MAKE ART';
        left: -188px;
    }
    &::after{
        content: 'NOT WAR';
        right: -182px;
    }
}

