@import './style.scss';
@import './components/preloader.scss';
@import './components/ui/btn.scss';
@import './components/one-item.scss';

@font-face {
	font-family: Proxima;
	font-display: swap;
	src: url("../fonts/ProximaRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Proxima;
	font-display: swap;
	src: url("../fonts/ProximaBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: Manrope;
    font-display: swap;
    src: url('../fonts/ManropeRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.page{
    padding: 61px 0 0 0;
    height: 100%;
    @media (max-width: 700px) {
        padding: 18px 0 0 0;
    }
}
.arts {
    position: relative;
    font-family: Proxima;
    width: 100%;
    margin-bottom: 76px;
    @media (max-width: 700px) {
        margin-bottom: 38px;
    }
    &__title {
        color: $whiteText;
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 65px; 
        margin-bottom: 15px;
        @media (max-width: 700px) {
            font-size: 36px;
            line-height: 40px; 
            margin-bottom: 16px;
        }
    }
    &__info {
        color: $whiteText;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        max-width: 415px;
        margin: 0 auto 49px;
        @media (max-width: 700px) {
            font-size: 15px;
            line-height: 24px;
            margin: 0 auto 48px;
        }
    }
    &__cards{
        max-width: 1111px;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: dense;
        gap: 24px;
        grid-template-columns: repeat(3,1fr) ;
        justify-content: center;
        @media (max-width: 1170px) {
            grid-template-columns: repeat(2 ,1fr) ;
            padding: 0 5px;
        }
        @media (max-width: 700px){        
            grid-template-columns: 1fr ;
            gap: 19px;
        }
        @media (max-width: 400px) {
            padding: 0;
        }
    }
    &__blur{
        top: -110px;
        left: -30px;
        position: absolute;
        @media (max-width: 700px) {
            display: none;
        }
    }
    &__circle{
        position: absolute;
        top: 132px;
        @media (min-width: 700px) {
            right: 16.6%;
        }
        @media (max-width: 700px) {
            left: -25px;
            top: 47px;
        }
    }
    &__star{
        position: absolute;
        top: 5px;
        @media (min-width: 700px) {
            left: 10%;
        }
        @media (min-width: 1100px) {
            left: 23.2%;
        }
        @media (max-width: 700px) {
            right: -22px;
            top: -26px;
            img{
                width: 26px;
                height: 36px;
            }
        }

    }
    &::after, &::before{
        position: absolute;
        font-family: Proxima;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: transparent;
        -webkit-text-stroke: 0.5px rgba(252, 255, 255, 0.2);
        top: 21px;
        @media (max-width: 700px) {
            display: none;
        }
    }
    &::before{
        content: 'MAKE ART';
        left: -188px;
    }
    &::after{
        content: 'NOT WAR';
        right: -182px;
    }
}

.btn_crown{
    height: 64px;
    width: 209px;
}