@import './profile/profile.scss';
@import './components/ui/btn.scss';

.orders-section {
  .table {
    &__title {
      &-type {
        width: 11.5%;
        @media (max-width: 1920px) {
          width: 10.6%;
        }
      }
      &-color {
        width: 7.1%;
      }
      &-email {
        width: 21.2%;
        @media (max-width: 1920px) {
          width: 21.2%;
        }
      }
      &-size {
        width: 13.1%;
        @media (max-width: 1920px) {
          width: 13.1%;
        }
      }
      &-comment {
        width: 16%;
      }
      &-address {
        width: 16%;
        @media (max-width: 1920px) {
          width: 16%;
        }
      }
      &-action {
      }
    }
    &-order {
      &__type {
        grid-area: type;
        width: 11.8%;
        color: $white;
        font-family: 'Proxima';
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3125;
        @media (max-width: $tablet) {
          width: 100%;
        }
      }
      &__color {
        grid-area: color;
        width: 7.1%;
        span {
          display: block;
          width: 32px;
          height: 32px;
          background-color: #eb8032;
          border-radius: 50%;
        }
        @media (max-width: $tablet) {
          width: 100%;
          margin-right: 14px;
          display: flex;
          align-items: center;
          padding-bottom: 2px;
        }
      }
      &__email {
        grid-area: email;
        width: 21%;
        color: $white;
        font-family: 'Proxima';
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        @media (max-width: $tablet) {
          width: 100%;
          font-weight: 400;
        }
      }
      &__size {
        grid-area: size;
        width: 13.1%;
        color: $white;
        font-family: 'Proxima';
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3125;
        @media (max-width: $tablet) {
          padding-top: 11px;
          padding-bottom: 15px;
          margin-top: 17px;
          margin-bottom: 11px;
          border-top: 1px solid;
          border-bottom: 1px solid;
          border-image: $defaultGradient;
          border-image-slice: 1;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          line-height: 1.5;
          &:before {
            content: 'Size';
            color: $white;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.07143;
          }
        }
      }
      &__comment {
        grid-area: text;
        width: 16%;
        &-text {
          color: $white;
          font-family: 'Proxima';
          font-size: 12px;
          font-weight: 300;
          line-height: 1.5;
          &::before {
            content: 'Lorem ipsum dolor sit amet';
          }
          @media (max-width: $tablet) {
            margin-top: 7px;
            &::before {
              content: 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet';
              font-size: 14px;
              font-weight: 400;
              line-height: 1.07143;
            }
          }
        }
        @media (max-width: $tablet) {
          margin-left: auto;
          width: 45.5%;
          &::before {
            content: 'Comment';
            font-size: 14px;
            font-weight: 400;
            line-height: 1.07143;
          }
        }
      }
      &__address {
        grid-area: text;
        width: 16%;
        &-text {
          color: $white;
          font-family: 'Proxima';
          font-size: 12px;
          font-weight: 300;
          line-height: 1.5;
          &::before {
            content: 'Lorem ipsum dolor sit amet';
            color: $white;
            line-height: 1.5;
          }
          @media (max-width: $tablet) {
            margin-top: 7px;
            &::before {
              content: 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet';
              font-size: 14px;
              font-weight: 400;
              line-height: 1.28571;
            }
          }
        }
        @media (max-width: $tablet) {
          width: 46%;
          &::before {
            content: 'Delivery address';
            font-size: 14px;
            font-weight: 400;
            line-height: 1.07143;
          }
        }
      }
      &__action {
        grid-area: action;
        &-button {
          padding: 10px 30px;
          border-radius: 8px;
          max-width: 116px;
          color: $jetBlack;
          font-family: 'Proxima';
          font-size: 14px;
          font-weight: 700;
          line-height: 1.42857;
          @media (max-width: $tablet) {
            max-width: none;
          }
        }
        @media (max-width: $tablet) {
          padding-top: 16px;
        }
      }
      @media (max-width: $tablet) {
        grid-template:
          'color type'
          'color email'
          'size size'
          'text text'
          'action action' auto / min-content auto;
      }
    }
  }
}

.show-more-link {
  background: none;
  color: $lightBlue;
  font-family: 'Proxima';
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration-line: underline;
  &:hover {
    color: $hoverColor;
  }
  &:focus {
    color: $focusColor;
  }
  &:active {
    color: $activeColor;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}
