@import './profile/profile.scss';
@import './components/ui/button.scss';

$tablet: 960px;
$mobile: 600px;

.page {
  @media (max-width: 960px) {
    height: 100%;
    justify-content: space-between;
  }
}

.page__container {
  padding-right: 0;
  padding-bottom: 0;
  height: 100%;
  @media (max-width: 600px) {
    padding-bottom: 0 !important;
  }
}

.page__main {
  @media (max-width: $tablet) {
    background-color: $jetBlack;
    padding-top: 18px;
  }
  height: 100%;
  @media (min-width: ($tablet + 0.1px)) {
    margin-left: 15px;
    overflow: hidden;
  }
}

.orders-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: $white;

  padding-left: 14px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  @media (max-width: 960px) {
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  &__table-block {
    height: 100%;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow: auto;
    @media (max-width: $tablet) {
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }
  &__table-orders {
    width: 100%;
  }
  &__title {
    display: none;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: max-content;
    background-color: $jetBlack;
    @media (max-width: $tablet) {
      display: flex;
      color: $white;
      font-family: 'Proxima';
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }
  }
  @media (max-width: 600px) {
    padding-left: 20px;
  }
}

.table-orders {
  min-height: 0;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;

  border-collapse: separate;
  border-spacing: 0px 8px;
  thead {
    height: fit-content;
    position: sticky;
    top: 0;
  }
  tbody {
    @media (max-width: $tablet) {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__head {
    height: 100%;
    background-color: $darkGray;
    padding-left: 30px;
    padding-right: 31px;

    @media (max-width: 960px) {
      display: none;
    }
  }
  &__title {
    height: 100%;
    text-align: left;
    color: $white;
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.07143;
    padding-top: 20px;
    padding-bottom: 12px;
    &:first-child {
      padding-left: 15px;
    }
  }
  &-item {
    height: 100%;
    background-color: $jetBlack;
    @media (max-width: 960px) {
      display: grid;
      margin-top: 8px;
      padding: 20px 19px 19px 18px;
      background-color: $gunmetalGrey;
      border-radius: 14px;
      grid-template:
        'color type'
        'color email'
        'size size'
        'addresscomment addresscomment'
        'action action' auto / 46px auto;
    }
    &__type {
      height: 100%;
      width: 11.6%;
      grid-area: type;
      color: $white;
      font-family: 'Proxima';
      font-size: 16px;
      font-weight: 600;
      line-height: 1.3125;
      padding-left: 24px;
      border-radius: 14px 0px 0px 14px;
      @media (max-width: 960px) {
        width: 100%;
        padding-left: 0;
      }
    }
    &__color {
      width: 7.2%;
      grid-area: color;
      padding-top: 29px;
      padding-bottom: 29px;
      padding-right: 10px;
      min-width: 32px;
      max-width: 52px;
      span {
        min-width: 32px;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $burntOrange;
      }
      @media (max-width: 960px) {
        padding-top: 0;
        padding-bottom: 4px;
        align-items: center;
        width: min-content;
      }
    }
    &__email {
      padding-right: 10px;
      width: 21%;
      height: 100%;
      grid-area: email;
      color: $white;
      font-family: 'Proxima';
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      @media (max-width: 960px) {
        font-weight: 400;
      }
    }
    &__size {
      width: 13%;
      padding-right: 10px;
      height: 100%;
      grid-area: size;
      color: $white;
      font-family: 'Proxima';
      font-size: 16px;
      font-weight: 600;
      line-height: 1.3125;
      @media (max-width: 960px) {
        width: 100%;
        height: fit-content;
        margin-top: 17px;
        margin-bottom: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid;
        border-top: 1px solid;
        border-image-slice: 1;
        border-image: linear-gradient(
          95deg,
          rgba(104, 201, 255, 0.1) 9.27%,
          rgba(209, 181, 255, 0.1) 84.06%
        );
        font-size: 14px;
        line-height: 1.5;
        display: flex;
        justify-content: space-between;
        &::before {
          content: 'Size';
          font-size: 14px;
          font-weight: 400;
          line-height: 1.07143;
          align-self: center;
        }
      }
    }
    &__comment {
      width: 15.9%;
      padding-right: 10px;
      height: 100%;
      grid-area: addresscomment;
      &-text {
        color: $white;
        font-family: 'Proxima';
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        &::before {
          content: 'Lorem ipsum dolor sit amet';
        }
        @media (max-width: $tablet) {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.28571;
          margin-top: 6px;
          &::before {
            content: 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet';
          }
        }
      }
      @media (max-width: $tablet) {
        width: 46%;
        margin-left: auto;
        font-size: 14px;
        line-height: 1.28571;
        &::before {
          content: 'Comment';
          font-size: 14px;
          font-weight: 300;
          line-height: 1.07143;
        }
      }
    }
    &__address {
      width: 15.4%;
      padding-right: 10px;
      height: 100%;
      grid-area: addresscomment;
      &-text {
        color: $white;
        font-family: 'Proxima';
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        &::before {
          content: 'Lorem ipsum dolor sit amet';
        }
        @media (max-width: $tablet) {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.28571;
          margin-top: 6px;
          &::before {
            content: 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet';
          }
        }
      }
      @media (max-width: $tablet) {
        width: 46%;
        &::before {
          content: 'Delivery address';
          font-size: 14px;
          font-weight: 300;
          line-height: 1.07143;
        }
      }
    }
    &__action {
      max-width: 147px;
      padding-right: 10px;
      padding-left: 8px;
      height: 100%;
      grid-area: action;
      &-button {
        padding: 10px 30px 10px 29px;
        color: $jetBlack;
        font-family: 'Proxima';
        font-size: 14px;
        font-weight: 700;
        line-height: 1.42857;
        border-radius: 8px;
      }
      border-radius: 0px 14px 14px 0px;
      @media (max-width: $tablet) {
        padding: 0;
        max-width: none;
        margin-top: 15px;
        width: 100%;
      }
    }
  }
}

.show-more-link {
  background: none;
  color: #86a8ff;
  font-family: 'Proxima';
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration-line: underline;
  &:hover {
    color: $hoverColor;
  }
  &:focus {
    color: $focusColor;
  }
  &:active {
    color: $activeColor;
  }
  @media (max-width: 960px) {
    display: none;
  }
}
