@import './style.scss';
@import './profile/profile-header.scss';
@import './profile/profile-sidebar.scss';
@import './profile/chat/chat.scss';

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaSemibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/ManropeRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/ManropeBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: $jetBlack;
}

.log-out {
  background: none;
  display: flex;
  align-items: center;
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35714;
  color: $lightBlueGrey;
}

.wrapper-2 {
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  &__container {
    flex-grow: 1;
    display: flex;
    max-width: none;
    justify-content: space-between;
    width: 100%;
  }
}
.page__main {
  flex-grow: 1;
  background-color: $darkGray;
  border-radius: 32px 0px 0px 0px;
  display: flex;
  @media (max-width: 600px) {
    background: none;
  }
}

.online-status {
  display: block;
  width: 8px;
  height: 8px;
  background-color: $emeraldGreen;
  border-radius: 50%;
}

.burger-menu-button {
  padding: 10px 9px;
  width: 32px;
  height: 32px;
  background-color: linear-gradient(
    95deg,
    rgba(104, 201, 255, 0.1) 9.27%,
    rgba(209, 181, 255, 0.1) 84.06%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  &__icon {
    min-width: 14px;
    min-height: 12px;
  }
}

.log-out {
  @media (max-width: 1150px) {
    display: none;
  }
}
