@import './style.scss';
@import './components/ui/input.scss';
@import './components/ui/switch.scss';
@import './components/ui/radioButton.scss';

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url('../fonts/ProximaSemibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/ManropeRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/ManropeBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.page {
  display: flex;
  align-items: center;
  @media (max-width: 400px) {
    align-items: start;
  }
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 100%;
    @media (max-width: 400px) {
      align-items: start;
    }
  }
  &__left-blur,
  &__right-blur {
    z-index: -1;
    user-select: none;
    position: fixed;
    pointer-events: none;
    top: 0;
    height: 100vw;
    width: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__left-blur {
    left: 0;
    transform: translate(-35%, -23%);
    @media (max-width: 1024px) {
      transform: translate(-50%, 5%);
    }
    @media (max-width: 600px) {
      transform: translate(-30%, -55%);
      width: 748px;
      height: 706px;
      img {
        width: 748px;
        height: 706px;
      }
    }
  }
  &__right-blur {
    right: 0px;
    transform: translate(35%, -23%) scale(-1);
    @media (max-width: 1024px) {
      transform: translate(50%, 5%) scale(-1);
    }
    @media (max-width: 600px) {
      transform: translate(30%, -55%) scale(-1);
      width: 748px;
      height: 706px;
      img {
        width: 748px;
        height: 706px;
      }
    }
  }
  &__star {
    position: absolute;
    top: 117px;
    left: -142px;
    @media (max-width: 750px) {
      left: -20%;
    }
    @media (max-width: 600px) {
      left: 22px;
      top: 60px;
    }
  }
  &__circle {
    position: absolute;
    top: 262px;
    right: -145px;
    @media (max-width: 750px) {
      right: -20%;
    }
    @media (max-width: 600px) {
      right: 20px;
      top: 98px;
    }
  }
}

.authorization-section {
  position: relative;
  min-height: 712px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 410px;
  height: 100%;
  width: 100%;
  @media (max-width: 400px) {
    padding-top: 16px;
    padding-bottom: 9px;
  }
  &__logo {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    color: $white;
    text-align: center;
    font-family: 'Proxima';
    font-size: 36px;
    font-weight: 700;
    line-height: 1.375;
    margin-top: 10px;
    @media (max-width: 400px) {
      font-size: 26px;
      margin-top: 50px;
    }
  }
  .switch-block {
    margin-top: 13px;
    max-width: 274px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 400px) {
      margin-top: 15px;
      .switch {
        padding-top: 3.5px;
        padding-bottom: 3.5px;
      }
      max-width: none;
      max-height: 49px;
      .switch-on,
      .switch-off {
        padding-top: 11px;
        padding-bottom: 11px;
        font-size: 14px;
      }
    }
  }
  .radio-buttons-block {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 7px;
    @media (max-width: 400px) {
      margin-bottom: 3px;
    }
    &__title {
      font-family: 'Proxima';
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: $lightBlueGrey;
    }
    &__radio-list {
      margin-top: 15px;
      display: flex;
      @media (max-width: 400px) {
        margin-top: 16px;
      }
      .radio-button {
        &:not(:first-child) {
          margin-left: 16px;
        }
      }
      @media (max-width: 400px) {
        justify-content: space-between;
      }
    }
    &:focus-within {
      .checkmark {
        outline: 1px solid $focusColor;
      }
      .radio-buttons-block__title {
        color: $focusColor;
      }
    }
  }
  &__form {
    z-index: 2;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-block {
      position: relative;
      &__error {
        bottom: 0;
        font-size: 12px;
        margin-top: 3px;
        color: rgb(129, 2, 2);
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
    &.signIn-form {
      @media (max-width: 400px) {
        padding-top: 9px;
      }
    }
    &.signUp-form {
      @media (max-width: 400px) {
        padding-top: 0px;
      }
    }
  }
  .text-link {
    margin-top: 15px;
    display: flex;
    &__text {
      color: $lightBlueGrey;
      font-family: 'Proxima';
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__link {
      background: none;
      margin-left: 8px;
      color: $lightBlue;
      font-family: 'Proxima';
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      text-decoration-line: underline;
      &:focus {
        color: $focusColor;
      }
      &:hover {
        color: $hoverColor;
      }
      &:active {
        color: $activeColor;
      }
    }
    &_signIn {
      display: none;
    }
    &_signUp {
      display: none;
    }
  }
  &__error {
    color: $errorColor;
    margin-top: 10px;
  }
  .submit-button {
    margin-top: 16px;
  }
}
